/vendor
/public/build
/public/hot
/.phpunit.cache
.phpunit.result.cache
.env
.env.backup
.env.production
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/storage
/storage/*.key
/storage/pail
.DS_Store
/.agents/*
/.claude/*
/.junie/*